<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Automation Testing Util Test Suite">
    <test name="Cucumber Parallel Runner Test">
        <classes>
            <class name="automation.testing.test.cucumber.test.CucumberParallelRunnerTest"/>
        </classes>
    </test>
</suite>